<div class="navbar">
    <div class="logo">
        <a href="#"><img src="img/uniquelogo.png" alt="pp"></a>
    </div>
    <ul>
        <li><a href="/" class="active">Ana Sayfa</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="https://discord.gg/ScVU6eA7Aw" target="_blank"><i class="fab fa-discord"></i></a></li>
    </ul>
</div>
