<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <div class="box">
        <h1>SAYFA BULUNAMADI</h1>
    </div>

</body>