<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%-include('./inc/head')%>
</head>
<body>
        <%-include('./inc/nav')%>
    <div class="container">
        <div class="box">
            <h1>Unique Chat Uygulaması</h1>
            <hr>
            <h5><i class="fa-sharp fa-solid fa-list"></i> Kurallar <i class="fa-sharp fa-solid fa-list"></i></h5>
            <hr>
            <p><i class="fa-solid fa-bookmark"></i> Küfür içerikli konuşmak yasaktır.</p>
            <p><i class="fa-solid fa-bookmark"></i> Reklam içerikli konuşmak yasaktır.</p>
            <p><i class="fa-solid fa-bookmark"></i> Siyaset,Din içerikli konuşmak yasaktır.</p>
            <p><i class="fa-solid fa-bookmark"></i> Zorbalık yasaktır.</p>
            <p><i class="fa-solid fa-bookmark"></i> Spam yapmak yasaktır.</p>
            <hr>
            <p>Özel bilgilerin paylaşılması yasaktır, aksi taktirde çalınan bilgilerden vs. firmamız sorumlu değildir.</p>
        </div>
    </div>
</body>
</html>